html {
  font-size: 62.5%;
}
body {
  // background-color: #000;
  background-color: #444;
  color: #fff;
  font-size: 1.8rem;
  font-family: sans-serif;
  // background-image: url('bg-earth-night.jpg');
  background-image: url('galaxy.jpg');
  background-size: cover;
}

a {
  color: #dff;
  -webkit-transition: all 0.66s;
    transition: all 0.66s;
}
a:hover {
  color: #fff;
}
.main {
}

.main-header {
  background-color: #000;
  border-bottom: 1px solid #888;
  display: block;
  width: 100%;
  font-family: monospace;
  text-align: center;
  padding: 3rem;
}

/* CSS class chema for this.
  pane is the base "panel" which is the root of all nodes.

  - when it also contains .center, it means it's the central node.
  There should only be one center at a time.
  - small means it's an immediate neighbor of center - which will be arranged
    radially below.
  - radiation means it's a node that's known, but not actively related to the
    current context, and will be in the background.
*/

.pane {
  position: fixed;
  background-color: rgba(0,0,0,0.8);
  border: 1px solid #888;
  padding: 0;
  // max-width: 60rem;
  // min-width: 40rem;
  // width: 40%;
  // height: 40%;
  max-width: 80rem;
  // min-width: 20rem;
  top: 50%;
  left: 50%;
  // max-height: 50%;
  max-height: 80rem;
  margin: auto;
  -webkit-transition: all 1.2s;
  transition: all 1.2s;
  cursor: default;
  overflow: hidden;
  // text-overflow: ellipsis;
  line-height: 1.6;
  color: #ccc;
  // border-radius: 30%;
  transform-origin: center;
  -webkit-transform: translate(-50%, -50%);
  opacity: 0;
}
/* The currently viewed wikipanel. */
.pane.center {
  box-shadow: 0,1,10,rgba(0,0,0,0.5);
  max-width: 80rem;
  opacity: 0.9 !important;
  z-index: 100;
  overflow: visible;
}
.pane.center:hover { z-index: 1000; }

.pane-link {
  position: absolute;
  background-color: rgba(0,0,0,0.5);
  font-size: 80%;
  font-variant: small-caps;
  padding: 1rem 1rem;
  text-decoration: none;
}
.pane-link:hover {
  background-color: rgba(255,255,255,0.5);
  cursor: pointer;
}

.pane-full-link {
  top:0;right:0;
}
.pane-minimize {
  top:0;left:0;
}

.pane-main-image {
  position: absolute;
  left: 0; top: 0;
  width: 100%;
  height: auto;
  z-index: -1;
  max-height: 80rem;
}
.pane-main-image-buffer {
  /* Only necessary when pane-main-image is there. */
  height: 40rem;
  display: block;
}

.pane-content {
  background-color: rgba(0,0,0,0.77);
  padding: 3rem 5rem;
}
.pane-header {
  font-size: 150%;
  margin-bottom: 1rem;
  border-bottom: 1px solid #888;
  font-variant: small-caps;
}

.pane-excerpt {
  font-size: 100%;
  line-height: 1.6;
  overflow: scroll;
  max-height: 30rem;
}
.thumbnail {
  display: inline-block;
}

.pane.small.placed {
  opacity: 0.7;
}
.pane.small {
  position: fixed;
  font-size: 100%;
  font-weight: 900;
  min-width: 10rem; min-height: 10rem;
  width: 10rem; height: 10rem;
  // max-height: 20rem;
  margin: 2rem;
  display: inline-block;
  border-radius: 100%;
  -webkit-transition: all 0.66s;
    transition: all 0.66s;
  text-align: center;
  border-color: #000;
  // background-color: rgba(255,255,255,0.8);
}
/* After the panel has been moved to a reasonable spot. */
.pane.small:hover {
  opacity: 1;
  cursor: pointer;
  overflow: visible;
  // padding: 2.5rem;
  box-shadow: 0 0 23px 6px rgba(255,255,255,0.5);
  // box-shadow: 0 0 23px 23px rgba(0,0,0,0.8);
  border-color: #111;
  z-index: 1000;
}

.pane .label {
  width: 200%;
  height: 100%;
  padding-top: 25%;
  text-transform: uppercase;
  text-align: center;
  // color: #000;
  font-size: 1.4rem;
  -webkit-transform: translateX(-25%);
}
.pane.small:hover .label {
  color: #fff;
  text-shadow: 1,1,10px, #000;
}
/* radiation styles */
.pane.radiation {
  z-index: 0;
  max-width: 5rem;
  max-height: 5rem;
  width: 2.3rem; height: 2.3rem;
  background-color: #fff;
  opacity: 0.8;
  border-radius: 100%;
  font-size: 0.3rem;
  padding: 0;
  box-shadow: 0 0 8px 2px rgba(255,255,255,0.8);
} .pane.radiation:hover {
  /* These can still be interacted with. */
  box-shadow: 0 0 23px 23px #fff;
  cursor: pointer;
  overflow: visible;
}

.pane.radiation .label {
  // position: absolute;
  font-size: 1rem;
}
.pane.radiation:hover .label {
  color: #000;
  text-shadow: 0,0,1px, #fcf;
}
/* Once its become a star, slow it way down. */
.pane.radiation.star {
  -webkit-transition: all 0.66s, left 53s, top 53s;
          transition: all 0.66s, left 53s, top 53s;
}

.edges {
  position: fixed; left: 0; top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  stroke: rgb(255,255,255,0.3);
  stroke-width: 1;
  z-index: -10;
}


.level1 {
  display: block;
  padding: 3rem;
  height: 5rem; width: 5rem;
  position: absolute;
  left: 50%;
  font-size: 5rem; text-align: center;
  line-height: 5rem;
  color: #888;
  bottom: -20rem;
  background-color: #000;
  border-radius: 100%;
  text-decoration: none;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  box-shadow: 0 0 0 5 #000;
}
.level1:hover {
  color: #fff;
  box-shadow: 0 0 23px 23px rgba(255,255,255,0.8);
}
.level1:active {
  box-shadow: 0 0 23px 23px rgba(0,0,0,0.8);
  color: #000;
}

